$clr-mint: #01EEF6;
$clr-dark-heading: #483224;
$clr-light: #FFFFFF;
$clr-link: #D1C1A5;
$clr-dark-brown:#803E38;
$clr-background-lighter: #D1C1A5;
$clr-primary: #301A49;
$font-primary: "Prata";
$font-secondary: "Barlow";
$font-third:  "Cookie";
$transition: ease-out 0.3s;
